<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <mediaLibrary>
      <requestParser patch:instead="*[@type='Sitecore.Resources.Media.MediaRequest, Sitecore.Kernel']" 
                     type="Cognifide.SiteCore.ImageGuard.ProtectedMediaRequest, Cognifide.SiteCore.ImageGuard"/>
    </mediaLibrary>
    <pipelines>
      <renderField>
        <processor patch:before="processor[@type='Sitecore.Pipelines.RenderField.RenderWebEditing, Sitecore.Kernel']"
                   type="Cognifide.SiteCore.ImageGuard.ProtectedImageLinkRenderer, Cognifide.SiteCore.ImageGuard" 
                    />
        </renderField>
    </pipelines>
    <settings>
      <setting name="ImageGuard.SharedSecret" value="Sitecore is Awesome!!!" />
    </settings>
  </sitecore>
</configuration>
